.med-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.photo-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 27%;
    margin-bottom: 60px;
}

.med-image {
    width: 100%;
    height: 735px;
    background-color: lightgray;
    border-radius: 40px;
    margin-bottom: 50px;
}

.med-info-form {
    width: 75%;
}

/* .med-info-form .next-btn {
    position: absolute;
    width: 75%;
    bottom: 100px;
} */

.add-medicine-page-2 .med-info-form {
    margin-top: 35%;
    align-items: flex-start;
    gap: 80px;
}

.add-medicine-page-3 .med-info-form {
    margin-top: 25%;
    align-items: flex-start;
    gap: 80px;
}

.input-label {
    font-size: 40px;
    color: #333;
    margin-left: 40px; 
}

.refill-input .input-group {
    background-color: white;
    padding: 8px;
    padding-left: 40px;
}

.input-group input[type="number"] {
    background-color: lightgray;
    border: none;
    border-radius: 35px;
    width: 100px;
    padding: 17px;
    text-align: center;
}

.input-group input[type="number"]:focus {
    outline: none;
}

.frequency-of-intake .options {
  list-style: none;
  background-color: white;
  padding: 10px;
}

.frequency-of-intake .options li {
  padding: 25px;
  border-bottom: 3px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
}

.frequency-of-intake .options li:last-child {
  border-bottom: none;
}

.frequency-of-intake .options li:hover,
.frequency-of-intake .options li:focus {
  background-color: #f2f2f2; 
}

.frequency-of-intake .options li:active,
.frequency-of-intake .options li.active {
  background-color: #D3E1E2;
}

.frequency-of-intake .options li:focus {
  outline: none;
}

.interval-of-intake .input-group span, .interval-of-intake .input-group input {
  margin-right: 15px;
}

.days {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.days li {
  margin: 12px;
  padding: 18px 25px;
  cursor: pointer;
  border-radius: 25px; 
  background-color: rgb(237, 237, 237);
}

.days li:focus,
.days li:active,
.days li.selected {
  background-color: #D3E1E2;
}

.days li.unselected {
  background-color: rgb(237, 237, 237);
}
.intake-card {
  padding: 60px 60px;
  margin-top: 40px;
}


.edit-medicine-page-1 .med-image {
  width: 75%;
  margin-top: 27%;
  margin-bottom: 60px;
}