.full-color-bg {
  background-image: linear-gradient(#96C89E, #8FD1ED);
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.full-white-bg {
  background-color: #F0EEEE;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.half-color-bg {
  background-image: linear-gradient(#8FD1ED, #96C89E);
  min-height: 25%;
  min-width: 100%;	
  position: fixed;
  top: 0;
  left: 0;
}

.pop-up-white-bg {
  background-color: #F0EEEE;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 80px;
}

.page-header {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 160px;
  left: 100px;
}
.page-header .title{
  font-family: Helvetica;
  font-size: 85px;
  font-weight: normal;
  color: white;
  max-height: fit-content;
  max-width: max-content;
  margin: 0;
  margin-bottom: 30px;
}
.page-header .subtitle{
  font-size: 45px;
  color: white;
  max-height: fit-content;
  max-width: max-content;
  margin: 0;
}

.body-container {
  background-color: #F0EEEE;
  min-height: 80%;
  min-width: 100%;
  border-radius: 80px 80px 0 0;
  border: none;	
  position: fixed;
  top: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-logo{
  width: 250px;
  height: 250px;
}

.app-title{
  font-family: Helvetica;
  font-size: 85px;
  font-weight: lighter;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 80%;
}

.input-form .form-group{
  width: 100%;
}

input, select, .input-group {
  background-color: white;
  box-sizing: border-box;
  margin: 0px;
  font-size: 40px;
  width: 100%;
  padding: 25px;
  border: 5px solid #08475E;
  border-radius: 25px;
  cursor: pointer;
}

.form-group label {
  display: block;
  font-size: 40px;
  margin-bottom: 12px;
  margin-left: 8px;
}

.blue-btn{
  box-sizing: border-box;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #08475E;
  color:white;
  text-decoration: none;
  font-size: 40px;
  width: 100%;
  height: 100px;
  border-radius: 25px;
}

.white-btn{
  box-sizing: border-box;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #08475E;
  text-decoration: none;
  font-size: 40px;
  width: 100%;
  height: 100px;
  border: 5px solid #08475E;
  border-radius: 25px;
}

.round-btn {
  font-size: 40px;
  background-color: #08475E;
  color: white;
  border-radius: 80px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.exit-btn{
  position: absolute;
  top: 100px;
  right: 60px;
}

.prev-btn {
  position: absolute;
  top: 100px;
  left: 60px;
}

.medications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  gap: 60px;
  margin-top: 60px;
  max-height: 61vh;
  overflow-y: auto;
}

.medication-card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5;
  border-radius: 25px;
  padding: 20px 35px;
  width: 100%;
}

.medication-info h1 {
  text-align: left;
  font-size: 45px;
  margin: 15px 0 40px 15px;
  color: #08475E;
}

.medication-info p {
  text-align: center;
  background-color: #D3E1E2;
  color: #333;
  font-size: 30px;
  width: 350px;
  border-radius: 25px; 
  padding: 12px 0;
  margin: 10px 0 15px 10px;
}

.medication-info {
  margin-bottom: 20px;
}

.medication-image {
  width: 260px;
  height: 260px;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 30px 50px 30px 30px;
}

.error-message {
  color: red;
  font-size: 40px;
  margin: 10px 0;
}