.login-page, .register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


.login-page .app-title{
    color: #08475E;
    margin-bottom: 100px;
}

.login-page input{
    margin: 0px;
}

.login-page .forget-btn {
    color: #08475E;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
}

.register-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.register-container p{
    font-size: 40px;
    color: #626262;
    margin-bottom: 10px; 
}

.register-container .sign-up-btn{
    text-decoration: none;
    font-size: 40px;
    color: #08475E;
    font-weight: bold;
    display: inline;
    margin-left: 20px;
}

.register-page .app-logo{
    position: absolute;
    left: 80px;
    top: 100px;
    width: 180px;
    height: 180px;
}
.register-page h2{
    color: #626262;
    font-size: 65px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 20px;
}
.register-page .app-title{
    color: #08475E;
    margin-top: 0px;
    margin-bottom: 100px;
}
.register-page .blue-btn{
    margin-top: 80px;
}

.forget-password-page h2{
    font-size: 55px;
}

.forget-password-page .app-title{
    margin-bottom: 200px;
}