.medication-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    /* Light grey background */
    border: 1px solid #d3d3d3;
    /* Light grey border */
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    width: 20vw;
    /* Add space between cards if stacked */
}

.medication-info h1 {
    font-size: 14px;
    margin: 0 0 4px 0;
    /* Add space below the heading */
    color: #333;
    /* Dark text color */
}

.medication-info button {
    background-color: #a9a9a9;
    /* Darker grey background for the button */
    color: #fff;
    /* White text color for the button */
    border: none;
    /* Remove border for the button */
    padding: 4px 8px;
    border-radius: 20px;
    /* Rounder edges for the button */
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 4px;
    /* Add space below the button */
    outline: none;
    /* Remove outline to keep the design clean */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Optional: add a shadow to the button */
    transition: background-color 0.3s;
    /* Smooth transition for button on hover */
}

.medication-info button:hover {
    background-color: #808080;
    /* Slightly lighter grey when hovered for a visual feedback */
}

.medication-info p {
    color: #333;
    /* Dark text color */
    font-size: 12px;
}

.medication-image {
    width: 40px;
    height: 40px;
    background-color: #d3d3d3;
    /* Light grey color similar to the border */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}