.page-name {
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 70px;
}

.reminder-button {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 200px;
    height: 70px;
    font-size: 27px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.clickable-button {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 30px;
  padding: 20px 0;
  width: 40%;
  margin-bottom: 50px;
}

.add-med-button {
  color: #08475E;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #08475E;
  border-radius: 10px;
  min-width: 70%;
  margin-top: 80px;
}