.home-page .app-logo{
    position: absolute;
    right: 100px;
    top: 150px;
    width: 180px;
    height: 180px;
}

.home-page h2{
    text-align: left;
    font-size: 52px;
    font-family: Helvetica;
    font-weight: normal;
    position: relative;
    top: 50px;
    left: -160px;
}

.home-page .medication-card .medication-info p{
    width: 250px;
}

.reminder-button {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 200px;
    height: 70px;
    font-size: 27px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.add-med-button {
  width: 80%;
  margin-top: 40px;
}

.medications-page .medications-container{
    max-height: 62vh;
}

.history-page .medications-container{
    max-height: 69vh;
}