.settings-form {
  margin-top: 80px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.settings-form .save-btn {
  margin-top: 600px; 
}

.settings-form .logout-btn, .settings-form .white-btn {
  width: 100%; 
  margin-top: 5px;
}